<nav class="navbar fixed-top bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><i class="fa-solid fa-circle cir"></i>
      <span style="color: rgb(11, 11, 48); font-weight: bold"> INS </span>
      <i class="fa-solid fa-circle cir"></i> Agent portal</a
    >
    <form class="d-flex me-5" role="search">
      <div class="nav1">
        <input
          class="form-control me-2 rounded-pill"
          type="search"
          placeholder="       | Search keyword"
          aria-label="Search"
        />
        <span class="search-icon"
          ><button class="search-btn" type="button">
            <i class="fa-solid fa-magnifying-glass" type="search"></i></button
        ></span>
      </div>
    </form>
    <div class="pull-right">
      <i
        class="fa-regular fa-bell fa-lg"
        matBadge="05"
        matBadgeOverlap="true"
        matBadgeSize="small"
        matBadgeColor="warn"
      ></i>
      <i class="fa-regular fa-user fa-lg"></i>
    </div>
  </div>
</nav>
