<div class="row">
  <div class="column">
    <div class="card shadow-sm">
      <div class="exp">
        <span style="font-size: 40px; font-weight: bold; color: #ff7b0e"
          >0{{ row3 }}</span
        >
        <i class="fa-regular fa-floppy-disk fa-lg"></i>
      </div>
      <h3 class="size"><a routerLink="/expired">Expired</a></h3>
    </div>
  </div>

  <div class="column">
    <div class="card shadow-sm">
      <div>
        <span style="font-size: 40px; font-weight: bold; color: #40d6ff"
          >0{{ row2 }}</span
        >
        <i class="fa-solid fa-arrows-spin fa-lg"></i>
      </div>
      <h3 class="size"><a href="/renewal">Renewal</a></h3>
    </div>
  </div>

  <div class="column">
    <div class="card shadow-sm">
      <div>
        <span style="font-size: 40px; font-weight: bold; color: #006df2"
          >06</span
        >
        <i class="fa-regular fa-floppy-disk fa-lg fd2"></i>
      </div>
      <h3 class="size"><a routerLink="">Total Claims</a></h3>
    </div>
  </div>

  <div class="column">
    <div class="card shadow-sm">
      <div>
        <span style="font-size: 40px; font-weight: bold; color: #009fcb"
          >0{{ row1 }}</span
        >
        <i class="fa-solid fa-arrow-trend-up fa-lg"></i>
      </div>
      <h3 class="size"><a routerLink="/newleads">New Leads</a></h3>
    </div>
  </div>

  <div class="column">
    <div class="next-btn">
      <i class="fa-solid fa-angle-right fa-lg shadow-sm"></i>
    </div>
  </div>
</div>
