<div
  class="card shadow-sm p-2 bg-white"
  style="width: 450px; margin-left: -130px"
>
  <div class="card-body">
    <p class="tsp-title">Top selling products</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Health Protect Plus</td>

          <td>
            <progress id="health" max="100" value="70">70%</progress>
          </td>

          <td>70</td>

          <td>sold</td>
        </tr>
        <tr>
          <td>Covid Shield Plus</td>
          <td>
            <progress id="covid-shield" max="100" value="70">70%</progress>
          </td>
          <td>70</td>

          <td>sold</td>
        </tr>

        <tr>
          <td>CG Term Life</td>

          <td>
            <progress id="cg-term-life" max="100" value="70">70%</progress>
          </td>

          <td>70</td>
          <td>sold</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
