<div class="card shadow p-3 mb-5 rounded" style="width: 1000px; height: 355px">
  <div class="row align-items-start" style="padding-top: 15px">
    <div class="col">
      <p>Quotation Reference</p>

      <p><strong>GRH/3345</strong></p>
    </div>

    <div class="col-3">
      <p>Premimum</p>

      <p><strong>$70 per week</strong></p>
    </div>
  </div>

  <hr />

  <div class="row align-items-start">
    <div class="col">
      <p>Product</p>

      <p><strong>CG Protect</strong></p>
    </div>

    <div class="col-3">
      <p>sum insured upto</p>

      <p><strong>$200,000</strong></p>
    </div>
  </div>

  <div class="row align-items-start" style="padding: 25px">
    <div class="col">
      <button class="btn btn-outline-secondary vb">View Benefits</button>
    </div>

    <div class="col" style="font-size: 22px; margin-left: 500px">
      <i class="fa fa-share-nodes" style="width: 50px"></i>

      <i
        class="fa-brands fa-square-whatsapp"
        style="color: rgb(49, 228, 109)"
      ></i>
    </div>
  </div>
</div>

<div class="card shadow p-3 mb-5 rounded" style="width: 1000px">
  <div class="card-header">
    <div>
      <i class="fa-regular fa-circle-check fa-2xl"></i>
    </div>
    <div class="txt">
      <span class="title">Application has been sent for review</span>
      <span class="title2"
        >You will get notified once the application is reviewed</span
      >
    </div>
    <div style="margin-left: 640px">
      <i class="fa fa-pencil icon1 shadow"></i>

      <i class="fa fa-phone-volume icon2 shadow"></i>

      <i class="fa fa-envelope icon3 shadow"></i>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">Application Number</div>
      <div class="col">55343766</div>
    </div>

    <div class="row">
      <div class="col">Product Name</div>
      <div class="col">CG Protect</div>
    </div>

    <div class="row">
      <div class="col">Applicant's Name</div>
      <div class="col">Jhon Smith</div>
    </div>

    <div class="row">
      <div class="col">Address</div>
      <div class="col">1553, Mccandless</div>
    </div>

    <div class="row">
      <div class="col">Email</div>
      <div class="col">jhonsmith@xyz.com</div>
    </div>

    <div class="row">
      <div class="col">Status</div>
      <div class="col">UW Process</div>
    </div>

    <div class="row">
      <div class="col">Submission Date</div>
      <div class="col">01/02/2014</div>
    </div>
  </div>
</div>
